body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: blanchedalmond;
}
.contenedor{
    border: 2px solid aqua; 
    padding: 10px;   
}
#titulo{
    color: brown;
    font-size: 50px;
}
.cabecera{
    background-color: cadetblue;
    color: black;
    font-size: 60px;
}